<div class="container iransans ">
    <div class="header row align-items-center">
        <span (click)="sidenav.isOpen = false" class="close d-flex col-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.438" height="20.438" viewBox="0 0 20.438 20.438">
                <path id="icons8_Close_5"
                    d="M7.219,5.781,5.781,7.219,14.563,16,5.781,24.781l1.438,1.438L16,17.438l8.781,8.781,1.438-1.437L17.438,16l8.781-8.781L24.781,5.781,16,14.563Z"
                    transform="translate(-5.781 -5.781)" fill="#a4b0be" />
            </svg></span>
        <p class=" title d-flex col-auto iransans-bold m-0">کاربر جدید</p>
    </div>

    <div class="d-flex flex-column">
        <span class="valid mb-2">اعتبار سنجی ایمیل </span>
        <span class="enter">آدرس ایمیل کاربر را وارد نمایید.</span>
    </div>

    <div class="notice d-flex flex-row">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path id="icons8_info"
                    d="M12,3a9,9,0,1,0,9,9A9.01,9.01,0,0,0,12,3Zm0,1.385A7.615,7.615,0,1,1,4.385,12,7.606,7.606,0,0,1,12,4.385Zm-.692,3.462V9.231h1.385V7.846Zm0,2.769v5.538h1.385V10.615Z"
                    transform="translate(-3 -3)" fill="#1e90ff" />
            </svg>
        </div>
        <span class="text text-justify">اگر فرد مورد نظر حساب کاربری نرم افزار حسابداری ابری محک ندارد، ایمیلی که مایلید
            دعوتنامه به آن ارسال شود را وارد نمایید. </span>
    </div>

    <div class="email">
        <input type="text" placeholder="ایمیل...">
    </div>

    <div class="test mt-5 ">

        <div class="submitbtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="7.139" height="11.664" viewBox="0 0 7.139 11.664">
                <path id="icons8_forward_2"
                    d="M12.16,4.281l-.629.629,4.5,4.5-4.5,4.5.629.629,4.811-4.811.3-.314-.3-.314Z"
                    transform="translate(-10.824 -3.574)" fill="#fff" stroke="#fff" stroke-width="1" />
            </svg>

            <span class="submit align-items-center">بررسی</span>
        </div>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="368" height="63" viewBox="0 0 368 63">
            <defs>
              <filter id="Rectangle_23" x="262.5" y="15.5" width="91" height="35" filterUnits="userSpaceOnUse">
                <feOffset dy="1" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="0.5" result="blur"/>
                <feFlood flood-opacity="0.2"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
            </defs>
            <g id="Group_2610" data-name="Group 2610" transform="translate(-912 -695)">
              <rect id="Rectangle_4308" data-name="Rectangle 4308" width="368" height="63" transform="translate(912 695)" fill="#fff"/>
              <g id="Grسoup_1126سی" data-name="Grسoup 1126سی" transform="translate(1312 711)" opacity="0.6">
                <g transform="matrix(1, 0, 0, 1, -400, -16)" filter="url(#Rectangle_23)">
                  <rect id="Rectangle_23-2" data-name="Rectangle 23" width="88" height="32" rx="7" transform="translate(264 16)" fill="#1e90ff"/>
                </g>
                <g id="Group_828" data-name="Group 828" transform="translate(-132.402 8)">
                  <text id="بررسی" transform="translate(47.401 11)" fill="#fff" font-size="12" font-family="SegoeUI, Segoe UI"><tspan x="-29.057" y="0">بررسی</tspan></text>
                  <path id="icons8_forward_2" d="M12.16,4.281l-.629.629,4.5,4.5-4.5,4.5.629.629,4.811-4.811.3-.314-.3-.314Z" transform="translate(45.438 -1.406)" fill="#fff" stroke="#fff" stroke-width="1"/>
                </g>
              </g>
            </g>
          </svg> -->

    </div>
</div>