.card-tool-bar {
    height: 120px;
    background-color: #f1f2f6;
    border-bottom: 3px solid #1E90FF;
}
      form{
        position: relative;
    }
    
    .icon-inline-input{
        position: absolute;
        right: 0;
        padding: 6px;
        height: 38px;
        width: 38px;
    }
    
    input{    
        padding: 6px 35px 6px 0px;
    }
    .tool-button{
        border-bottom: 3px soid #1E90FF;
    }