.mat-card-sm-image {
    border-radius: 5px;
  }
  
  .border {
    border: 1px solid;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-card-title {
    font-size: 1rem;
    font-weight: bold;
  }

  .mat-card{
    border-radius: 0%;
  }
  /* ================================ */

  .card-tool-bar {
    height: 120px;
    background-color: #f1f2f6;
    border-bottom: 3px solid #1E90FF;
}



.tool-button {
    border-bottom: 3px soid #1E90FF;
}

.checkbox {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: none;
    bottom: 3px;
    align-items: center;
    display: inline-block;
}
/* .mat-checkbox ::shadow{
display: none;
} */

.mat-flat-button {
    bottom: 5px;
    height: 32px;
    border-radius: 6px;
}

.mat-icon-button-hover-checkbox{
    display: none;
}
.printerbtn{
    width: 100px ;
     height: 32px;
     bottom: 13px;
}