.mat-card-sm-image {
    border-radius: 5px;
    width: 70px;
    height: 70px;
  }
  
  .border {
    border: 1px solid;
  }
  
  .full-width {
    width: 100%;
  }
  
  .mat-card-title {
    font-size: 12px;
    font-weight: bold;
  }

  .mat-card{
    border-radius: 0%;
  }
  /* ================================ */

  .card-tool-bar {
    height: 120px;
    background-color: #f1f2f6;
    border-bottom: 3px solid #1E90FF;
}


/* .mat-checkbox ::shadow{
display: none;
} */

.mat-flat-button {
    bottom: 5px;
    height: 32px;
    border-radius: 6px;
}

.mat-icon-button-hover-checkbox{
    display: none;
}
.printerbtn{
    width: 100px ;
     height: 32px;
     bottom: 13px;
}

.mat-icon {
  color: #a4b0be;
  font-size: 1.2em;
}
::ng-deep .mat-checkbox-frame {
  /* border-color: #a4b0be;  */
  border: 1.5px solid #a4b0be;
}
.mat-card-title ,.lastActivity {
  color: #2f3542;
}
.lastActivity{
  font-size: 0.9em;
}
.mat-card-subtitle{
  color: #747d8c;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  transform: scale(0.9);
}
.role{
  font-size: 0.7em;
  font-weight: 600;
}

/* .mat-checkbox {
  font-size: 1em;
} */
/* ============================== */
.manager {
  color: #baa152;
  background-color: #faf4e1;
  
}
.user {
  color: #5f68fa;
  background-color: #f5f5f5;
}
.accountant {
  color: #27b360;
  background-color: #dff7e9;
  
}
.storekeeper{
  color: #775eb5;
  background-color: #f4f0ff;
}
.active{
  color: #ffffff;
  font-size: 0.8rem;
  background-color: #a4b0be;
}
.bg{
  background-color: #d4e8ff;
  border: 1px solid #1E90FF !important;
  
}