<div class="d-flex flex-column w-100 m-0 p-0">
  <app-card-tool-bar (btnClick)="onList()" (allCheckboxSelected)="onChecked($event)"></app-card-tool-bar>

  <div class="container-fluid w-100 d-flex row rtl p-0 m-0">

    <mat-card *ngFor="let element of elements" class="col-sm-6 col-md-3 w-md-25 border iransans p-2">
      <div class="d-flex align-items-center">

        <div class="col d-flex justify-content-start mb-2">
          <mat-checkbox size="small" color="primary" [checked]="checked"></mat-checkbox>
        </div>
        <div class="col d-flex justify-content-end">
          <mat-icon>more_vert</mat-icon>
        </div>
      </div>
      <mat-card-title-group class="d-flex ">
        <img class="col-4 " mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <div class="col-8 d-flex flex-column align-items-start">
          <mat-card-title>{{element.name}}</mat-card-title>
          <mat-card-subtitle class="mb-1">{{element.id}} </mat-card-subtitle>
          <mat-card-subtitle class="m-0">
            {{element.email}}
          </mat-card-subtitle>
        </div>
      </mat-card-title-group>

      <div class="d-flex">
        <div *ngFor="let role of element.roles" >
          <div class="role d-flex px-1 py-2" [style]="setRoleTitle(role)">
            <span [class]="roleStyle" class="px-2 py-1">{{ role }}</span>
          </div>
        </div>
      </div>
      <div class="lastActivity px-3 d-flex row justify-content-end">{{element.lastActivity}}</div>
    </mat-card>

    <!-- [roleTitle]= '{{element.role}}' -->
  </div>
</div>