<div class="container-fluid p-0">
  <app-top-header></app-top-header>

  <!-- header menu ------------------------------------------------->
  <app-header-menu></app-header-menu>

  <!-- sub menu --------------------------------------------->
  <app-sub-menu></app-sub-menu>

  <!-- panel ------------------------------------------------->

  <app-panel></app-panel>

  <!-- tool bar  -->
  <app-tool-bar></app-tool-bar>

  <!-- card container  ---------------------------------->
  <!-- <mat-card class="example-card">

        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Medium</mat-card-subtitle>
          <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
        <mat-card-content>
          {{longText}}
        </mat-card-content>
      </mat-card> -->

  <!-- ============================================================== -->

  <div class="container p-0 m-0">
    <div class="row m-0">
      <app-cards class="d-flex col-sm-6 col-md-3"></app-cards>
      <app-cards class="d-flex col-sm-6 col-md-3"></app-cards>
      <app-cards class="d-flex col-sm-6 col-md-3"></app-cards>
      <app-cards class="d-flex col-sm-6 col-md-3"></app-cards>
      <app-cards class="d-flex col-sm-6 col-md-3"></app-cards>
      <app-cards class="d-flex col-sm-6 col-md-3"></app-cards>
    </div>
  </div>

  <!-- list -->
</div>

<!-- ============================================== -->


