
<mat-card class="example-card rtl border iransans">
    <div class="d-flex align-items-center">
       
        <div class="col d-flex justify-content-start">
            <mat-checkbox></mat-checkbox>
        </div>
        <div class="col mt-2 d-flex justify-content-end">
            <mat-icon>more_vert</mat-icon>
        </div>
    </div>
    <mat-card-title-group class="d-flex " >
        <img class="col-4 " mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
        <div class="col-8 ">
            <mat-card-title>چیستا محمدی</mat-card-title>
            <mat-card-subtitle class="m-0">100256 </mat-card-subtitle>
            <mat-card-subtitle>
                <mat-icon>supervisor_account</mat-icon>
                حسابداران تهران
            </mat-card-subtitle>
        </div>
    </mat-card-title-group>
   
    <div class="d-flex px-4">کاربر</div>
    <div class="d-flex row justify-content-end">امروز-10:23</div>
</mat-card>