table {
  width: 100%;
  /* margin-right: 15px; */
}

table th {
  text-align: right;
  font-family: "IRANSans";
  padding: 0%;
  color: #2f3542;
  font-weight: bold;
  border-bottom: 1px solid #a4b0be;
 
}

/* table th.mat-header cell{
  padding: 0% !important;
} */

table tr {
  font-family: "IRANSans";
}

table td{
  padding: 0%;
}

.mat-column-select {
  border-left: 1px solid #dfe4ea;
  text-align: center;
  width: 40px;
  margin: 0%;
  padding: 0%;
}

.imgsize {
width: 25px;
height:25px ;
border-radius: 3px;
padding: 0%;
margin: 0%;
}
.manager {
  color: #baa152;
  background-color: #faf4e1;
  padding: 5px;
  
}
.user {
  color: #5f68fa;
  background-color: #f5f5f5;
  padding: 5px;
}
.accountant {
  color: #27b360;
  background-color: #dff7e9;
  padding: 5px;
  /* font-size: small; */
  
}
.storekeeper{
  color: #775eb5;
  background-color: #f4f0ff;
  padding: 5px;
}
.role{
  font-size: 0.7em;
  font-weight: 600;
}

::ng-deep.mat-checkbox-inner-container , th ,td{ 
  margin: 0% !important;
  padding: 0% !important;
}