form {
    position: relative;
   
}

.icon-inline-input {
    position: absolute;
    right: 0;
    padding: 6px;
    height: 38px;
    width: 38px;
}

input {
    padding: 6px 35px 6px 0px;
   
}
/* .form-control{
    border: 4px #747d8c;
} */