
@font-face {
    font-family: "IRANSans";
    src: url(assets/fonts/IRANSansWebKE.ttf) format('truetype');
}
html, body { height: 100%; }
body { margin: 0; padding: 0%; font-family: "IRANSans", "Helvetica Neue", sans-serif; }

.rtl{
    direction: rtl;
}
.white-icon{
    color: white;
}
.blue-font {
    color: #1E90FF;
}
.iransans{
    font-family: "IRANSans";
}
.iransans-bold {
    font-family: "IRANSans";
    font-weight: bold;
}
.mat-tab-body-content{
    overflow: hidden !important;
}