<!-- title -->
<div class="d-flex justify-content-end py-2 ">
    <span class="h3 title iransans">پنل مدیریت</span>
</div>

<!-- menu-panel -->
<div class="rtl iransans">
    <mat-tab-group mat-align-tabs="start" class="gx-5">
        <mat-tab label="اطلاعات شما"></mat-tab>
        <mat-tab label="شخصی سازی"></mat-tab>
        <mat-tab label="کاربران"></mat-tab>
        <mat-tab label="گروه ها"></mat-tab>
        <mat-tab label="نقش ها / سطوح دسترسی"></mat-tab>
        <mat-tab label="اشتراک ها"></mat-tab>
        <mat-tab label="دستگاه ها"></mat-tab>
    </mat-tab-group>
</div>