::ng-deep.mat-tab-label{
    min-width: 0 !important;
    padding: 4px !important;
    margin: 3px 10px !important;
    font-size: small;
    font-family: "IRANSans";
    font-weight: 400;
    justify-content: center;
    /* color: #747d8c; */
}

::ng-deep.mat-tab-label-active {
    color: #1e90ff;
    font-weight: bold;
    /* margin: 3px 10px !important;
    padding: 4px !important; */
}

/* ::ng-deep.mat-link-bar{
    
} */

.mat-tab {
padding-left:5px ;
padding-right: 5px;
}

.title{
    font-weight: 700;
}

.card-tool-bar {
    height: 100px;
    background-color: #f1f2f6;
}