<div class="list-tool-bar rtl">

    <!-- search box  -->

    <div class="d-flex row" style="height: 80px">
        <div class="d-flex row  align-items-center">
            <div class="col-6 row d-flex">
                <app-user-search-box></app-user-search-box>
            </div>

            <div class="col-3 d-flex iransans input">

                <select class="custom-select border selected" id="inputGroupSelect01">
                    <option selected>همه نقش ها</option>
                    <option value="1">مدیر</option>
                    <option value="2">کاربر</option>
                    <option value="3">حسابدار</option>
                    <option value="4">مسئول انبار</option>
                </select>
            </div>
        </div>
    </div>


    <div class="d-flex row tool-button rtl">
        <div class="d-flex col justify-content-start">

            <span (click)="onCard()" class="bg-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12.308" viewBox="0 0 16 12.308">
                    <path id="icons8_view_module"
                        d="M3,6V18.308H19V6ZM4.231,7.231H7.923v4.308H4.231Zm4.923,0h3.692v4.308H9.154Zm4.923,0h3.692v4.308H14.077ZM4.231,12.769H7.923v4.308H4.231Zm4.923,0h3.692v4.308H9.154Zm4.923,0h3.692v4.308H14.077Z"
                        transform="translate(-3 -6)" fill="#1e90ff" />
                </svg>
            </span>

            <button mat-flat-button class="blue-font iransans-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="16.5" viewBox="0 0 16.5 16.5">
                    <path id="icons8_add_9"
                        d="M11,3a8,8,0,1,0,8,8A8.009,8.009,0,0,0,11,3Zm0,1.231A6.769,6.769,0,1,1,4.231,11,6.761,6.761,0,0,1,11,4.231Zm-.615,3.692v2.462H7.923v1.231h2.462v2.462h1.231V11.615h2.462V10.385H11.615V7.923Z"
                        transform="translate(-2.75 -2.75)" fill="#1e90ff" stroke="#1e90ff" stroke-width="0.5" />
                </svg>
                کاربر جدید</button>
        </div>

        <div class="d-flex col justify-content-end ">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
                <button type="button" class="btn">1</button>
            </div>
        </div>

        <!-- <div class="d-flex col justify-content-end">
            <button mat-icon-button class="printerbtn">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="83"
                    height="35" viewBox="0 0 83 35">
                    <defs>
                        <filter id="Rectangle_1133" x="0" y="0" width="83" height="35" filterUnits="userSpaceOnUse">
                            <feOffset dy="1" input="SourceAlpha" />
                            <feGaussianBlur stdDeviation="0.5" result="blur" />
                            <feFlood flood-opacity="0.11" />
                            <feComposite operator="in" in2="blur" />
                            <feComposite in="SourceGraphic" />
                        </filter>
                    </defs>
                    <g id="دکمه_آیکونی" data-name="دکمه آیکونی" transform="translate(1.5 0.5)">
                        <g transform="matrix(1, 0, 0, 1, -1.5, -0.5)" filter="url(#Rectangle_1133)">
                            <rect id="Rectangle_1133-2" data-name="Rectangle 1133" width="80" height="32" rx="7"
                                transform="translate(1.5 0.5)" fill="#fff" />
                        </g>
                        <path id="icons8_print"
                            d="M7.75,4V9.25H6.25A2.262,2.262,0,0,0,4,11.5V19H7.75v3h10.5V19H22V11.5a2.262,2.262,0,0,0-2.25-2.25h-1.5V4Zm1.5,1.5h7.5V9.25H9.25Zm-3,5.25h13.5a.737.737,0,0,1,.75.75v6H18.25v-3H7.75v3H5.5v-6A.737.737,0,0,1,6.25,10.75ZM7,11.5a.75.75,0,1,0,.75.75A.751.751,0,0,0,7,11.5ZM9.25,16h7.5v4.5H9.25Z"
                            transform="translate(43 3)" fill="#1e90ff" />
                        <line id="Line_856" data-name="Line 856" y2="16" transform="translate(32 8)" fill="none"
                            stroke="#1e90ff" stroke-width="1" opacity="0.2" />
                        <path id="icons8_expand_arrow" d="M2.781,11.062l3.783,3.782.217.208L7,14.844l3.782-3.782Z"
                            transform="translate(10.219 3.938)" fill="#1e90ff" stroke="#1e90ff" stroke-width="1" />
                    </g>
                </svg>
            </button>
        </div> -->
    </div>
</div>